@import '../../variables';

.background-color {
  background-color: $darkgray;
  height: 100%;
}

.button {
  align-items: center;
  background-color: $white;
  border-radius: 25px;
  color: $black;
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 10px;
  text-align: center;
  text-shadow: 2px 2px $white;
  width: 200px;

  &:hover {
    background-color: $black;
    color: $white;
    text-shadow: none;
    border: solid 1px $gray;
  }
}

.borderradius {
  border-radius: 0;
}


.form-background {
  background-color: $darkgray;
  border: 0;
  border-bottom: 1px solid $white;
  color: $white;
  width: 400px;
}

.center {
  display: flex;
  justify-content: center;
}
