@import '../../variables';

.background-color {
  background-color: $darkgray;
  height: 100%;
}

.form-background {
  background-color: $darkgray;
  border: 0;
  border-bottom: 1px solid $white;
  color: $white;
  width: 400px;
}

.center {
  display: flex;
  justify-content: center;
}
