@import '../../variables';

.merchandise-form-background {
  background-color: $white;
  border: 0;
  border-bottom: 1px solid $darkgray;
  color: $darkgray;
  width: 400px;
}

.searched-merchandise {
  display: flex;
  border: 1px solid $white;
  height: 450px;
  margin: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.search-button {
  margin-left: 5px;
}

.results {
  display: flex;
  justify-content: center;
  color: $white;

  &:hover {
    color: $white;
  }
}
