@import '../../variables';

.merchandise-form-background {
  background-color: $white;
  border: 0;
  border-bottom: 1px solid $darkgray;
  color: $darkgray;
  width: 400px;
}

.searched-merchandise {
  border: 1px solid $darkgray;
  height: 450px;
  margin: auto;
  width: 700px;
}

.search-button {
  margin-left: 5px;
}

.results {
  margin: 5px;
}
